@import 'tailwindcss';

@theme {
  --breakpoint-ph: 360px;
  --breakpoint-dt: 1440px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}